  <!-- file: ./templates/play.html -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <title>Battle_Resource</title>
    </head>
    <body>
      <div id="server" class="container-fluid">
        <div class="container-fluid clearfix mb-3 shadow">
          <img class="float-left my-3" height="62px" width="62px"/>
          <div class="float-right w-25 py-3">
            <img class="my-3 mx-3 rounded-circle border" height="62px" width="62px" />
            <p class="d-inline"> {% raw %} {{ username }} {% endraw %} </p>
          </div>
        </div>
        <div class="row mx-5" style="height: 50vh">
          <div class="col-8 h-50 align-self-center">
            <div class="row border rounded invisible h-50 w-75 m-auto" style="font-size: 3.6rem" ref="gameboard" @click="playerAction">
              <div class="h-100 pr-2 col border border-dark" data-id="1" ref="1"></div>
              <div class="col pr-2 border border-dark" data-id="2" ref="2"></div>
              <div class="col pr-2 border border-dark" data-id="3" ref="3"></div>
              <div class="w-100"></div>
              <div class="h-100 pr-2 col border border-dark" data-id="4" ref="4"></div>
              <div class="col pr-2 border border-dark" data-id="5" ref="5"></div>
              <div class="col pr-2 border border-dark" data-id="6" ref="6"></div>
              <div class="w-100"></div>
              <div class="h-100 pr-2 col border border-dark" data-id="7" ref="7"></div>
              <div class="col pr-2 border border-dark" data-id="8" ref="8"></div>
              <div class="col pr-2 border border-dark" data-id="9" ref="9"></div>
            </div>
          </div>
          <div class="col-4 pl-3">
            <div class="row h-100">
              <div class="col border h-75 text-center" style="background: rgb(114, 230, 147);">
                <p class="my-3"> {% raw %} {{ players }} {% endraw %} online player(s) </p>
                <hr/>
                <li class="m-auto py-3 text-dark" style="cursor: pointer;" v-for="member in connectedPlayers" @click="choosePlayer">
                  {% raw %} {{ member }} {% endraw %}
                </li>
              </div>
              <div class="w-100"></div>
              <div class="col text-center py-3 border h-25" style="background: #b6c0ca; font-size: 1em; font-weight: bold">
                {% raw %} {{ status }} {% endraw %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
      <script>      
	var app = new Vue({
		  el: '#server',

		  data: {
			username: '',
			players: 0,
			connectedPlayers: [],
			status: '',
			pusher: new Pusher('825853d3b5713e7f4ec2', {
			  authEndpoint: '/pusher/auth',
			  cluster: 'eu',
			  encrypted: true
			}),
			otherPlayerName: '',
			mychannel: {},
			otherPlayerChannel: {},
		  },

		  created () {
			let url = new URL(window.location.href);
			let name = url.searchParams.get("username");

			if (name) {
			  this.username = name
			  this.subscribe();
			  this.listeners();
			} else {
			  this.username = this.generateRandomName();
			  location.assign("/play?username=" + this.username);
			}
		  },

		  methods:
		  {
		  subscribe: function () 
		  {
			let channel = this.pusher.subscribe('presence-channel');
			this.myChannel = this.pusher.subscribe('private-' + this.username)
			channel.bind('pusher:subscription_succeeded', (player) => 
			{
				this.players = player.count - 1
				player.each((player) => {
				  if (player.id != this.username)
					this.connectedPlayers.push(player.id)
				});
			});

			channel.bind('pusher:member_added', (player) => 
			{
				this.players++;
				this.connectedPlayers.push(player.id)
			});

			channel.bind('pusher:member_removed', (player) => 
			{
				this.players--;
				var index = this.connectedPlayers.indexOf(player.id);
				if (index > -1) 
				{
					this.connectedPlayers.splice(index, 1)
				}
			});
		  },
	
		listeners: function () 
		{
			console.log("1111111111",this.connectedPlayers);
			console.log("333333333",this.username);
			/*
			if (confirm('Do you want to start a game of Tic Tac Toe with ' + message)) {
			  this.otherPlayerName = message
			  this.otherPlayerChannel = this.pusher.subscribe('private-' + this.otherPlayerName)
			  this.otherPlayerChannel.bind('pusher:subscription_succeeded', () => {
				this.otherPlayerChannel.trigger('client-game-started', this.username)
			  })
			  this.startGame(message)
			} else {
			  this.otherPlayerChannel = this.pusher.subscribe('private-' + message)
			  this.otherPlayerChannel.bind('pusher:subscription_succeeded', () => {
				this.otherPlayerChannel.trigger('client-game-declined', "")
			  })
			  this.gameDeclined()
			}*/
		  this.myChannel.bind('client-game-started', (message) => {
			this.status = "Game started with " + message
			this.$refs.gameboard.classList.remove('invisible');
			this.firstPlayer = 1;
			this.turn = 1;
		  })

		  this.myChannel.bind('client-game-declined', () => {
			this.status = "Game declined"
		  })

		  this.myChannel.bind('client-new-move', (position) => {
			this.$refs[position].innerText = this.firstPlayer ? 'O' : 'X'
		  })

		  this.myChannel.bind('client-your-turn', () => {
			this.turn = 1;
		  })

		  this.myChannel.bind('client-box-update', (update) => {
			this.boxes = update;
		  })

		  this.myChannel.bind('client-you-lost', () => {
			this.gameLost();
		  })
		},
			startGame:function(){
				console.log("start game function");
			},
			gameLost:function(){
				console.log("game lost function");
			},
			generateRandomName: function () {
			  let text = 'Guest';
			  let possible = '0123456789';
			  for (var i = 0; i < 6; i++) {
				text += possible.charAt(Math.floor(Math.random() * possible.length));
			  }
			  return text;
			},

			// Lets you choose a player to play as.
			choosePlayer: function (e) 
			{
				console.log("222222222",this.connectedPlayers);
			},
			// User declined to play
			gameDeclined: function () {
			  console.log("Game declined");
			},
			playerAction:function()
			{
				console.log("Player action function");
			},	
		}
		});
</script>
</body>
</html>
